
.middle-container{
  display: flex;
  flex-wrap: wrap;
}

.adv-category{
  text-align: center;
  align-items: center;
  flex-basis: 100%;
}

h5.subtitle, h5.advdesc {
  margin: 1.55em auto;
  text-align: center;
  width: 60%;
}
h5.advdesc{
  font-weight: 400;
  margin: 1.6em auto;
}

.advlbl{
  font-weight: 400;
  flex-basis: 50%;
  margin: 1em auto;
  text-align: center;
}
.lbl1{
  font-weight: 400;
  flex-basis: 50%;
  margin: 1em auto;
  text-align: center;
}
.lbl2{
  font-weight: 400;
  flex-basis: 50%;
  margin: 1em auto;
  text-align: center;
}

.emailbox {
  width: 40%;
  margin: auto;
}

.advdropdowns{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 40%;
  margin: auto;
  text-align: center;
}

.selector-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 70em) {
  .middle-container {
    display: block;
    width: 100%;
    margin: 0;
  }
}


@media all and (max-width: 700px) and (min-width: 100px) {
  .selector-container{
    display: block;
  }

  .selector-container-item {
    margin-bottom: 1.5em;
  }

  .dayselect, .timeselect{
    width: 100%;
  }

  .advlbl {
    margin: 1em auto 0.5em;
  }
}
@media all and (max-width: 1000px) and (min-width: 700px) {
  .lbl1{
    order:0;
  }

  .dayselect{
    order: 1;
  }
  .lbl2{
    order:3;
  }

  .timeselect{
    order: 4;
  }
}

.repeattable {
  display: flex;
  width: 15rem;
  flex-wrap: wrap;
  padding: 0rem;
  margin: auto;
}
.tabletitle {
  flex-basis: 100%;
}

.repeattable table {
  border-collapse: collapse;
  width: 100%;
}

.repeattable tr {
  width: auto;
}

.tablecourse, .tablenum {
  font-size: 0.83em;
  font-weight: bold;
  flex-basis: 63%;
  border-color: var( --main-border-color);
  border-style: solid;
  border-width: 0.0625rem;
  padding: 1rem;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin: 0rem;
}
.tablenum {
  flex-basis: 30.03%;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.descbox{
  width: 60%;
  height: 10rem;
  margin-bottom: 2rem;
}
.advline{
  background-color: var(--main-bg-red);
  width: 60%;
  height: 0.065rem;
  margin:auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


.middle-container em{
  color: var(--main-bg-red);
  font-weight: bold;
  text-transform: none;

}
