.req-item{
  background-color:  var(--main-bg-gray);
  min-height: 20rem;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 61% 85%, 50% height+5rem, 39% 85%, 0% 85%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 61% 85%, 50% height+5rem, 39% 85%, 0% 85%, 0 0);
}

.central-req-area{
  display: flex;
  flex-wrap: wrap;
}

h3{
  padding: 0.66rem;
  background-color: var(--main-bg-red);
  color: var(--white-text-color);
  text-align: center;
  margin: 0rem;
  font-size: 1rem;
}


h4{
  padding: 0.66rem;
  color: var(--main-bg-red);
  text-align: center;
  margin: 0rem;
  font-size: 1.5rem;
}

.req-category{

  flex-basis: 100%;
}

.req-item{
margin: 2rem;
  margin-top: 0rem;
  padding: 0.66rem;
  margin-bottom:1rem;
}

.req-item-title{
  padding: 0rem;
  position: absolute;
}

.req-item-desc{
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 0rem;
}

.req-item-credits{
  text-align: center;
  padding: 0rem;
  margin-top: 0rem;
}


.req-item-credits-count{
  text-align: center;
  padding: 0rem;
  margin-top: 0rem;
  margin-bottom: 10rem;
  color: var(--main-bg-red);
}

.req-class-list{
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: 5rem;
  align-items: flex-start;
  padding: 0rem;
}

.req-class-list-wc{
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: 10rem;
  align-items: flex-start;
  padding: 0rem;
}



.row1-req-class-list{
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  margin-bottom: 0rem;
  align-items: flex-start;
  padding: 0rem;
}

.row2-req-class-list{
  display: flex;
  justify-content: center;
  margin-top: 0rem;
  align-items: flex-start;
  padding: 0rem;
}


.connected-classes{
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.req-connected-class{
  list-style: none;
  margin:1rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: 5rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  display: inline-block;
  border-color: var( --main-border-color);
  border-width: 0.065rem;
  border-style: solid;
}

.connector-line{
  list-style: none;
  height: 2rem;
  width: 0.065rem;
  background-color: var(--main-bg-red);
}

.req-class{
  list-style: none;
  margin:1rem;
  width: 5rem;
  padding: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  display: inline-block;
  border-color: var( --main-border-color);
  border-width: 0.065rem;
  border-style: solid;
}

#completed{
  background-color: var(--main-bg-red);
  color: var(--white-text-color);
}

#incomplete{
  background-color: var(--white-text-color);
  color: var(--dark-text-color);
}

#optional{
    background-color: var(--main-bg-gray);
    color: var(--dark-text-color);
}

#enrolled{
    color: var(--white-text-color);
    background-color: var(--dark-text-color);
}
