.middle-container {
  margin: 0 1em;
}

.req-section {
  margin-bottom: 1rem;
}

h3{
  padding: 0.66rem;
  background-color: var(--main-bg-red);
  color: var(--white-text-color);
  text-align: center;
  margin: 0rem;
  font-size: 0.8125rem;
}

.req-section-container {
  border-style: solid;
  border-width: 0.0625rem;
  background-color: white;
}

.req-section-inner-container {
  background-color: var(--main-bg-gray);
  margin: 0 2.375rem;
}

.req-title {
  padding: 0.8125rem;
}

.req-instructions {
  text-align: center;
  margin-bottom: 0.5875rem;
}

.req-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 1.6875rem;

  margin: 0 1rem;
}

h5 {
  margin: 0;
}

em {
  text-transform: uppercase;
  color: var(--main-bg-red);
  font-style: normal;
}

.course {
  width: 6.1875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;

  background-color: var(--main-bg-red);
  color: var(--white-text-color);
  font-size: 0.8125rem;

  border-color: var( --main-border-color);
  border-width: 0.0625rem;
  border-style: solid;

  margin: 0.3125rem;
  cursor: pointer;
}

.enrolled {
  background-color: var(--dark-gray);
}

.incomplete {
  background-color: white;
  color: var(--dark-gray);
}

.optional {
  background-color: var(--main-bg-gray);
  color: var(--dark-gray);
}

.planned {
  background-color: var(--blue-text-color);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 7rem solid transparent;
  border-right: 7rem solid transparent;
  border-top: 3.8rem solid var(--main-bg-gray);

  margin-left: auto;
  margin-right: auto;

  margin-bottom: 1rem;
}

.credits-completed {
  margin-top: -4rem;
  margin-left: -5rem;
  width: 10rem;
  text-align: center;
}

.number-of-credits {
  color: var(--main-bg-red);
  font-size: 1.25rem;
  font-weight: bold;
  margin-left: -0.7rem;
  margin-top: 0.6rem;
}

.pre-reqs {
  margin-top: -0.3125rem;
  margin-bottom: 0.3125rem;
}

.pre-reqs > .course {
  margin-top: 0;
  margin-bottom: 0;
}

.line {
  width: 0.078rem;
  height: 1rem;
  background-color: var(--main-bg-red);
  margin: 0 auto;
}

.button {
  color: white;
  text-transform: uppercase;
  background-color: var(--blue-text-color);
  text-decoration: none;
  font-size: 0.8125rem;

  padding:1rem;
  border-radius: 0.3125rem;
  margin: 1.5rem 0.375rem 0.75rem 0.375rem;
}
.buttonplan {
  width: 6.1875rem;
  height: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  float:right;
  background-color: var(--blue-text-color);
  color: var(--white-text-color);
  font-size: 0.8125rem;

  border-color: var( --main-border-color);
  border-width: 0.0625rem;
  border-style: solid;

  margin: 0rem;
}
.last-set {
  padding-bottom: 0;
}

.last-container {
  padding-bottom: 1.5rem;
}

@media (max-width: 70em) {
  .middle-container {
    display: block;
    width: 100%;
    margin: 0;
  }
}

#iat100modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat102modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat103modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}

#iat103modal h3{
      background-color: var(--dark-gray);
}
#iat106modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat167modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt120modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt120modal h3{
      background-color: var(--main-bg-gray);
      color: var(--dark-text-color);
}
#cmpt120modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt125modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt125modal h3{
      background-color: var(--main-bg-gray);
      color: var(--dark-text-color);
}
#cmpt126modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt126modal h3{
      background-color: var(--main-bg-gray);
      color: var(--dark-text-color);
}
#cmpt128modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt128modal h3{
      background-color: var(--main-bg-gray);
      color: var(--dark-text-color);
}
#cmpt166modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#macm101modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat201modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat202modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat222modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat233modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat233modal h3{
      background-color: white;
      color: var(--dark-text-color);
}
#iat235modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat265modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat267modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat333modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat334modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat355modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat355modal h3{
      background-color: var(--dark-gray);
}
#iat381modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat381modal h3{
      background-color: var(--dark-gray);
}
#iat445modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt320modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cmpt354modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#cogs381modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#psyc352modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#psyc362modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#psyc362modal h3{
      background-color: var(--dark-gray);
}
#iat351modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat351modal h3{
      background-color: white;
      color: var(--dark-text-color);
}
#iat352modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat352modal h3{
      background-color: var(--blue-text-color);
}
#iat410modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat410modal h3{
      background-color: white;
      color: var(--dark-text-color);
}
#iat452modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat452modal h3{
      background-color: var(--blue-text-color);
}
#iat455modal{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}

#iat333modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat334modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat355modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat355modal3{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat355modal2 h3{
      background-color: var(--dark-gray);
}
#iat355modal3 h3{
      background-color: var(--dark-gray);
}
#iat381modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}
#iat381modal2 h3{
      background-color: var(--dark-gray);
}
#iat445modal2{
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0); /* Black w/ opacity */
      position: absolute;
      overflow: hidden; /* Enable scroll if needed */
      margin: 0rem;
}



.modal-info {
  background-color: #fefefe;
  text-align: center;
  border: 0.0625rem solid var(--main-border-color);
  width: 20%; /* Could be more or less, depending on screen size */
}
.coursemoreinfo a{
  color: var(--main-bg-red);
  text-align: right;
  font-size: 0.7rem;
  margin-bottom: 1rem;
}


.courseinfolabel{
  text-align: left;
    flex-basis: 50%;
}

.courseinfodesc{
  text-align: right;
  font-weight: 400;
    flex-basis: 50%;
}

.courseinfodesc2{
  text-align: left;
  font-weight: 400;
    flex-basis: 50%;
}
.courseinfoflex{
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  flex-wrap: wrap;
}
.coursemoreinfo{
padding-left: 2rem;
padding-right: 2rem;
}

.infoline{
  background-color: var(--main-bg-red);
  width: 85%;
  margin:auto;
  margin-top:0.8rem;
  margin-bottom: 0.8rem;
  height: 0.065rem;
}
