/*Defining Variables*/
:root {
  /*Main color*/
  --main-bg-red: #D10C0C;
  --main-bg-gray: #E4E4E4;
  --main-border-color: rgb(121, 121, 121);

  /*Font family & colors*/
  --main-font: sans-serif;
  --dark-text-color: #333;
  --white-text-color: #FFF;
  --light-text-color: #A1A1A1;
  --dark-text-color: #333;
  --link-text-color: #169BD5;

  /*Hovering colors*/

}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--dark-text-color);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
