/*Defining Variables*/
:root {
  /*Main color*/
  --main-bg-red: #D10C0C;
  --main-bg-gray: #E4E4E4;
  --main-border-color: #333;

  /*Font family & colors*/
  --main-font: sans-serif;
  --dark-text-color: #333;
  --white-text-color: #FFF;
  --light-text-color: #A1A1A1;
  --blue-text-color: #169BD5;
  --dark-gray: #434343;


  /*Hovering colors*/

}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--dark-text-color);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}

.intext-link {
  word-break: break-all;
}

.layout-container {
  display: flex;
  flex-wrap: nowrap;
}

/*.layout-container-item {
  flex: 1;
}*/

.leftBar {
  order: 1;
}
.rightBar {
  order: 3;
}
.middle-container {
  order: 2;
  flex: 1;
}

.container-border {
  border: 0.0625em solid var(--main-border-color);
}

@media (max-width: 70em) {
  .layout-container {
    display: block;
  }
}
