/*Defining Variables*/
:root {
  /*Main color*/
  --main-bg-red: #D10C0C;
  --main-bg-gray: #E4E4E4;
  --main-border-color: rgb(121, 121, 121);

  /*Font*/
  --dark-text-color: #333;
  --main-font: sans-serif;

  /*Hovering colors*/

}

body {
  margin: 0;
  font-family: var(--main-font);
  color: var(--dark-text-color);
}

a {
  text-decoration: none;
  color: var(--dark-text-color);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.float-none {
  float: none;
}
