body {
  margin: 0;
}

nav {
  color: #FFF;
  position: relative;
  text-align: center;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
  max-width: 20rem;
}

.nav-item {
  flex-basis: 100%;

  border-style: solid;
  border-width: 0.04rem 0.0625rem;
  border-color: white;

  padding-top: 0.875rem;
  padding-bottom: 0.875rem;
  background-color: #DB8C8C;

  font-size: 1rem;
  text-decoration: none;
  color: white;
}

.nav-item:visited, .nav-item:hover, .nav-item:focus {
   color: white;
}

.first-nav-item {
  border-width: 0.0625rem 0.0625rem 0.04rem 0.0625rem;
}

.current-nav-item {
  background-color: #D10C0C;
}

.hamburger-bar {
  font-size: 1rem;
  text-decoration: none;
  background-color: black;
  height: 3.05rem;
  padding: 0;
  width: 100%;
}

.hamburger-icon {
    width: 2rem;
    height: 2rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
}

.hamburger-bar:visited, .hamburger-bar-item:hover, .hamburger-bar:focus {
   color: white;
}

@media (min-width: 70rem){
  .menu-items {
    position: static;
    max-width: 100%;
  }
  .nav-item {
    flex-basis: auto;
    flex-grow: 1;
    border-width: 0.0625rem 0.04rem;
  }
  .hamburger-bar {
    display: none;
  }
}
