.planarea{
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
}

#plan5{
  display: none;
}
#plan6{
  display: none;
}
#plan7{
  display: none;
}

.termbtns{
  margin: 1em 0 1em 1em;
  width: 4rem;
  min-width: 2.5rem;
}

.addtermbutton, .deletetermbutton {
  cursor: pointer;
}

#xbtn{
  max-width: 2rem;
  max-height: 2rem;
  min-width: 0.5rem;
  position: absolute;
  top: 0.8em;
  left: 81%;
}

#modalxbtn{
  padding-top: 0rem;
  margin-top:-1rem;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 0.5rem;
  position: absolute;
  padding-left: 58.8%;
  display: block;
  cursor: pointer;
}

#modalplusbtn{
  max-width: 4rem;
  max-height: 4rem;
  min-width: 1rem;
  width: 10%;
  padding: 1rem;
  margin: auto;
  cursor: pointer;
}

#plusbtn{
  cursor: pointer;
}

.planareagrid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.term {
  display: block;
  margin: 1em;
  position: relative;
  max-width: 13.6em;
  flex: 1;
}

.termtitle{
  padding: 0.8rem;
  width: 12rem;
  font-size: 1.5rem;
  text-align: left;
}

.plancourse{
  border-width: 0.0625rem;
  border-color: var(--main-border-color);
  border-style: solid;
  margin:0rem;
  border-bottom: none;
}
.plancourse p {
  font-size: 0.83em;
  padding: 0.8rem;
  margin: 0rem;
  border-bottom: 0.0625em solid var(--main-border-color);
}
.potentialcourse{
  padding: 0.8rem;
  margin:0rem;
  display: none;
}

/*popup*/

.tempclass{
    color: white;
    text-transform: uppercase;
    background-color: var(--blue-text-color);
    text-decoration: none;
    font-size: 0.8125rem;
    border-width: 0.0625rem;
    border-style: solid;
    border-color: var(--main-border-color);
    padding:1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0 0.375rem;
}
.tmpplan{
  display: flex;
  margin: auto;
  justify-content: center;
}

#tempcourse0{
  display: none;
}
#tempcourse1{
  display: none;
}
#tempcourse2{
  display: none;
}
#tempcourse3{
  display: none;
}
#tempcourse4{
  display: none;
}
#specreqselect1{
  display: none;
}

#specreqselect2{
  display: none;
}
#courseselect1{
  display: none;
}
#courseselect2{
  display: none;
}
#courseselect3{
  display: none;
}
#courseselect4{
  display: none;
}
#courseselect5{
  display: none;
}
#courseselect6{
  display: none;
}
#courseselect7{
  display: none;
}
.addbtns{
  display: flex;
  justify-content: center;
  margin: auto;
}
#canceladd{
  background-color: var(--main-border-color);
  cursor: pointer;
}
#addbtn{
  background-color: var(--blue-text-color);
  cursor: pointer;
}
#savebtn{
  background-color: var(--main-bg-red);
  cursor: pointer;
}


.selector{
  margin: 0 1rem 1rem;
}

#addcourses {
  margin: 2em auto 0;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 2em auto; /* 15% from the top and centered */
    padding: 0rem;
    text-align: center;
    width: 60%; /* Could be more or less, depending on screen size */
    transition: all 0.2s ease;
}

@media (max-width: 70em) {
  .modal-content {
    width:90%;
  }
  #modalxbtn {
    padding-left: 88.1%;
  }
}

/* The Close Button */
.close {
    color: var(--dark-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.closebtn{
  text-align: center;
  transition: all 0.2s ease;
}

/*.closebtn:hover,
.closebtn:focus {
    color: var(--blue-text-color);
    text-decoration: none;
    cursor: pointer;
}*/

#enrolled {
  background-color: var(--dark-gray);
}

#incomplete {
  background-color: white;
  color: var(--dark-gray);
}

#optional {
  background-color: var(--main-bg-gray);
  color: var(--dark-gray);
}

#planned {
  background-color: var(--blue-text-color);
}

.modal h5{
  margin: 0.66rem auto 1rem;

}
.plan-category{
  text-align: center;
  padding: 1rem;
}
.plan-category h5{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;

}

.shareicons{
  display: flex;
  margin: auto;
  width: 60%;
  text-align: center;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.shareicons figure {
  text-align: center;
  width: 4em;
  margin: 1rem;
}

.shareicons figcaption {
  font-weight: 400;
  font-size: 0.83em;
}

.socialmedia{
  width: 70%;
  min-width: 2rem;
  margin: 0.25em;
  align-items: center;
  cursor: pointer;
}
#sharemodalcontent {
    width: 60%; /* Full width */
}


@media (max-width: 70em) {
  .planarea {
    display: block;
  }

  .termbtns {
    width: 20px;
    margin: 1em auto;
  }

  .term {
    margin: 0 1em 1em;
  }

  #share-plan.req-section div.container-border h5.subtitle,
  #share-plan.req-section div.container-border h5.advdesc {
    width: 95%;
  }

  #share-plan.req-section div.container-border div.shareicons {
    width: 95%;
    padding: 0;
  }
}


@media (max-width: 32em) {
  .planareagrid {
    display: block;
  }

  .term {
    max-width: 100%;
  }

  .termtitle {
    width: auto;
  }
}
