#planbyreq{
  margin:2rem;
}
.planarea{
  display: flex;
  align-items: start;
  padding: 1rem;

    border-width: 0.0625rem;
    border-color: var(--main-border-color);
    border-style: solid;
}

.term{
  display: block;
}

#plan5{
  display: none;
}
#plan6{
  display: none;
}
#plan7{
  display: none;
}



.termbtns{
  padding: 1rem;
  width: 4rem;
  min-width: 2.5rem;
}

#xbtn{
  padding-bottom: 13rem;
  margin-top:-1rem;
  max-width: 2rem;
  max-height: 2rem;
  min-width: 0.5rem;
  position: absolute;
  padding-left: 13rem;
}

.planareagrid{

    display: flex;
    flex-direction: horizontal;
    flex-wrap: wrap;
}

.term{
  margin: 1rem;
}
.plancourse{
  border-width: 0.0625rem;
  border-color: var(--main-border-color);
  padding: 0.8rem;
  border-style: solid;
  margin:0rem;
}

.termtitle{
  padding: 1rem;
  width: 12rem;
  font-size: 1.5rem;
}

/*popup*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0rem;
    text-align: center;
    border: 0.0625rem solid var(--main-border-color);
    width: 20rem; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: var(--dark-text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.closebtn{

  padding-left:5rem;
  padding: auto;
}

.closebtn:hover,
.closebtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#enrolled {
  background-color: var(--dark-gray);
}

#incomplete {
  background-color: white;
  color: var(--dark-gray);
}

#optional {
  background-color: var(--main-bg-gray);
  color: var(--dark-gray);
}

#planned {
  background-color: var(--blue-text-color);
}

.modal h5{
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;

}
