.side-bar-container {
  display: inline-block;
  width: 16em;
}

.side-bar-container ul {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.side-bar-container li {
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.side-bar-container [type=checkbox] {
  display: none;
}

.side-bar-container label.sidebar-title {
  font-size: 1em;
  display: block;
  background: var(--main-bg-red);
  color: var(--white-text-color);
  padding: 0.75em 0;
  margin: 0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.side-bar-container .sidebar-content {
  font-size: 0.8em;
  padding: 0 10px;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.side-bar-container ul li label {
  padding:10px;
}

.side-bar-container ul li a {
  text-decoration: none;
  color: var(--blue-text-color);
  word-break: break-all;
  display: block;
  margin: 1.5em 1em;
}

.sidebar-content {
  border: 1px solid var(--dark-text-color);
}

.content-item {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.content-text {
  margin: auto 0;
}

.content-text-box {
  border: 1px solid var(--dark-text-color);
  padding: 0.5em 1em;
  margin: 0;
}

.box-color-1 {
  background: var(--main-bg-red);
  color: var(--white-text-color);
}
.box-color-2 {
  background: var(--white-text-color);
}
.box-color-3 {
  background: var(--main-bg-gray);
}
.box-color-4 {
  background: var(--dark-text-color);
  color: var(--white-text-color);
}
.box-color-5 {
  background: var(--blue-text-color);
  color: var(--white-text-color);
}



@media (max-width: 70em) {
  .side-bar-container {
    display: block;
    width: 100%;
  }

  .side-bar-container label.sidebar-title {
    cursor: pointer;
    border-bottom: none;
  }

  .side-bar-container ul li .sidebar-content {
    height: 0;
    display: none;
  }

  .side-bar-container [type=checkbox]:checked ~ label ~ .sidebar-content {
    height: auto;
    display: block;
  }

  .content-text, .content-text-box {
    flex: 1;
    -ms-flex: 1;
    -moz-flex: 1;
    -webkit-flex: 1;
  }

  .side-bar-container li {
    margin-bottom: 0.0625em;
  }
}


@media (max-width: 18em) {
  .content-item {
    display: block;
  }
}

ul li h4 {
  text-decoration: none;
  color: var(--light-text-color);
}

.side-bar-container2 h3 {
    text-align: center;
    background: var(--main-bg-red);
    color: var(--white-text-color);
    padding: 0.75em 0;
    border: 0.062rem solid var(--dark-text-color);
    margin: 0;
}

.side-bar-container2 h4 {
    color: var(--light-text-color);
}

.side-bar-container2 li {
    padding: 0rem, 0.625rem, 0rem, 0.625rem;
}

.side-bar-container2 table {
    width:100%;
}

.side-bar-container2 table, th, td {
    border: 0.062rem solid black;
    border-collapse: collapse;
    vertical-align: text-bottom;
    padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}

.side-bar-container2 th {
    background: var(--main-bg-red);
    color: var(--white-text-color);
    padding: 0.75em 0;
    border: 0.062rem solid var(--dark-text-color);
    margin: 0;
}

.side-bar-container2 .small-header-in-table td {
    text-decoration: none;
    color: var(--dark-text-color);
}

.small-header-in-table {
    background-color: rgba(102, 102, 102, 1);
    color: var(--white-text-color);
    padding: 0.1875rem 0.625rem 0.1875rem 0.625rem;
}

.side-bar-container2 img {
    height: 1.171875rem;
    width: auto;
}